<template name="about">
    <div class="full-page runner-background">
        <div class="container">
            <div class="col-sm-11">
                <div class="jumbotron">
                    <h1>How it works</h1>

                </div>
            </div>
            <div class="col-sm-1">
                <div>
                    <img src="/images/concept.svg" alt="concept" class="img-rounded img-responsive">
                </div>
            </div>
        </div>
    </div>
</template>
