<template name="about">
    <div class="full-page runner-background">
        <div class="container">
            <div class="col-sm-11">
                <div class="jumbotron">
                    <h1>How it works</h1>

                    <div class="col-sm-6">
                        <p>Secure Health helps you to secure your personal health data by adding fuzzy data according to your own specifications. This allows you to fully control your personal data. Furthermore, Secure Health allows you to generate normal looking health data according to your preferences to mimic a healthy lifestyle. Never was generating fitness data so easy!
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img src="/images/concept.svg" alt="concept" class="img-rounded img-responsive">
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>
