<template name="activityConfiguration">
    <div class="full-page runner-background">
        <div class="container-fluid">
            <div class="jumbotron">
                {{#with activity}} {{> activityConfig}} {{/with}}
            </div>
        </div>
    </div>
</template>

<template name="activityConfig">
    <h1>Steady...</h1>
    <h2>Activity for {{text}}</h2>
    <div class="row">

        <div class="col-sm-4">
            <img src="/images/{{image}}" alt="{{text}}" class="img-rounded img-responsive activity-image">
        </div>
        <div class="col-sm-4">
            {{> activitySlider}}
            {{> nextactivity}}
        </div>
    </div>

</template>

<template name="activitySlider">
    <label for="ambition">Ambition</label>
    <div class="form-group" id="ambition-slider">
        <input type="text" class="slider" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-14" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
    </div>
    <label for="regularity">Regularity</label>
    <div class="form-group" id="regularity-slider">
        <input type="text" class="slider" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-14" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
    </div>
    <label for="randomness">Randomness</label>
    <div class="form-group" id="randomness-slider">
        <input type="text" class="slider" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-14" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
    </div>
</template>

<template name="nextactivity">

</template>
