<template name="commit-configuration">
    <div class="full-page runner-background">
        <div class="container">
            <div class="col-sm-11">
    	        <div class="jumbotron">
    	            <h1>Go!!!</h1>
    	            <p>You are all set. Health data anonymisation is running.</p>
    	            <p>You can check your health information anytime in your dashboard.</p>
                    <div>
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2 text-right">
                            <button type="button" class="btn btn-default">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
    	</div>
    </div>
</template>
