<template name="sportsConfiguration">
    <div class="full-page runner-background">
        <div class="container">
            <div class="col-sm-11">
                <div class="jumbotron">
                    <h1>Steady...</h1>
                    <form>
                        <div class="form-group">

                            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    {{#each activities}}
                                        {{> sportIndicators}}
                                    {{/each}}
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    {{#each activities}}
                                        {{> activity}}
                                    {{/each}}
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <label for="ambition">Ambition</label>
                        <div class="form-group">
                            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" /> </div>
                        <label for="regularity">Regularity</label>
                        <div class="form-group">
                            <input id="slider2" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" />
                        </div>
                        <label for="randomness">Randomness</label>
                        <div class="form-group">
                            <input id="slider3" data-slider-id='sliderRandom' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" />
                        </div>
                    </form>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</template>

<template name="activity">
    <div class="item {{active}}">
        <img src="/images/{{image}}" alt="{{text}}" class="img-rounded center-block img-responsive activity-image">
    </div>
</template>

<template name="sportIndicators">
    <li data-target="#myCarousel" data-slide-to="{{nr}}"></li>
</template>
