.body {
    padding-top: 70px;
}

.full-page {
    width: 100vw;
    height: 100vh;
}

.runner-background {
    background-image: url("images/runner.jpg");
}

.pre {
  white-space: pre;
}

.jumbotron {
    margin-top: 90px;
    margin-left: -70px;
    margin-right: 49px;
    background: rgba(134, 148, 147, 0.31);
}

