.body {
    padding-top: 70px;
}

.full-page {
    width: 100vw;
    height: 100vh;
}

.runner-background {
    background-image: url("images/runner.jpg");
    background-attachment: fixed;
    overflow: overlay;
}

.pre {
  white-space: pre;
}

.nav-button:hover {
    background-color: rgb(210, 208, 208);
}

.img-icon-small {
    height: 45px;
    vertical-align: middle;
}

.nav-bar-spacer {
    min-height: 80px;
}

.jumbotron {
    margin-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(134, 148, 147, 0.31);
    overflow: overlay;
}

.jumbotron h1 {
    color: rgb(255,255,255);
    text-shadow: 0.5px 0.5px #989898;
}

.jumbotron p {
    color: rgb(249,249,249);
}

.jumbotron label {
    color: rgb(249,249,249);
}

.panel {
    background: rgba(134, 148, 147, 0.81);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-shadow {
    text-shadow: 0.5px 0.5px #989898;
}

.activity-image {
    width: 300px;
}

.activity-image-overview {
    width: 150px;
}
