<template name="start">
    <div class="full-page runner-background">
        <div class="container">
            <div class="col-sm-11">
                <div class="jumbotron">
                    <h1>Secure Health</h1>
                    <p class="text-shadow">Don't want anybody to mis-use your health information? Secure Health is your solution.</p>
                    <p><a class="btn btn-default btn-lg" href="/about" role="button">How it works</a></p>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="container hidden-xs hidden-sm">
            <div class="col-md-6">
                <div class="panel">

                </div>
            </div>
            <div class="col-md-5">
                <div class="panel">
                    <div class="well">
                        <h6><a href="https://www.google.ch/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CCMQFjAAahUKEwj54LCi9abIAhVCRhQKHZLdAD4&url=http%3A%2F%2Fresources.infosecinstitute.com%2Fhackers-selling-healthcare-data-in-the-black-market%2F&usg=AFQjCNHm5R9UUdhswYG6uLbkojfbI9woYA&sig2=uP4Dw90fqxgAKmJJ4T2gGw">27.07.2015 Hackers Selling Healthcare Data in the Black Market</a></h6>
                        <div>In another incident, more than 80 million health data was stolen from Anthem breach because of a network server hack. In 15 months from ...</div>
                    </div>
                    <div class="well">
                        <h6><a href="https://www.google.ch/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0CEcQFjADahUKEwiNnPjF9qbIAhVEQBQKHUNiAEI&url=http%3A%2F%2Fnuviun.com%2Fcontent%2Fhealth-insurance-companies-and-mhealth-apps&usg=AFQjCNHiQ0GcJVsVCTC5sZ_3XmP6yf6YjQ&sig2=AGmASs-fSneMnTB6ZcJOCQ&bvm=bv.104317490,d.d24">23.07.2015 Health Insurance Companies and mHealth Apps</a></h6>
                        <div>mHealth apps promise to deliver 5 economic advantages for health insurance companies including reduced reimbursement payouts, customer ...</div>
                    </div>
                    <div class="well">
                        <h6><a href="https://www.google.ch/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=0CDMQFjACahUKEwj54LCi9abIAhVCRhQKHZLdAD4&url=http%3A%2F%2Fwww.forbes.com%2Fsites%2Flaurashin%2F2015%2F05%2F29%2Fwhy-medical-identity-theft-is-rising-and-how-to-protect-yourself%2F&usg=AFQjCNF22yQcCYFbCtyqqnSxbRvMhWz96A&sig2=jZPHHTphpdJdErWrIhVDIA">29.05.2015 Why Medical Identity Theft Is Rising And How To Protect</a></h6>
                        <div>Ninety-one percent of health organizations have had a data breach in the last two years, and for the first time, cyber attacks was the top cause, ...</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
